.tropical{
  color:rgb(31, 49, 4);
}
.popular{
  font-style: italic;
  color:grey
}
h1{
  color:#f7325e;
  font-family:serif;
}
body{
   color:black;
}
h2{
  color:#f7325e;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: whitesmoke;
      color:black;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: whitesmoke;
}
.column {
  width: 220px;
  float: left;
  padding: 15px;
}
}